<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.bawei.zxshop.dao.SkuDao">

 	<!--  int insert(Sku sku);-->
		<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
			INSERT INTO `haoge`.`hg_sku` (`title`, `sell_point`, `price`, `stock_count`, `barcode`, `image`, `status`, `create_time`, `update_time`, `cost_price`, `market_price`, `spu_id`, `cart_thumbnail`) VALUES 
			(#{title},#{sellPoint},#{price},#{stockCount},#{barcode},#{image},#{status},now(),now(),#{costPrice},#{marketPrice}, #{spuId}, #{cartThumbnail})
		</insert>
	<!--  int insertSpecOption(@Param("skuId")Integer id,@Param("opt") SpecOption specOption);-->
		<insert id="insertSpecOption">
			INSERT INTO `haoge`.`hg_sku_spec` (`sku_id`, `spec_id`, `spec_option_id`) 
			VALUES (#{skuId},#{opt.specid},#{opt.id})
		</insert>
	<!-- Sku findById(int id);-->
		<select id="findById" resultMap="SkuMapDetail">
			select * from hg_sku where id=#{id}
		</select>
		
		
	<!--  int update(Sku sku);-->
		<update id="update">
			UPDATE `haoge`.`hg_sku` SET `title`=#{title}, `sell_point`=#{sellPoint}, `price`=#{price}, `stock_count`=#{stockCount}, `barcode`=#{barcode}, `image`=#{image}, `status`=#{status}, `create_time`=now(), `update_time`=now(), `cost_price`=#{costPrice}, `market_price`=#{marketPrice}, `spu_id`=#{spuId}, `cart_thumbnail`=#{cartThumbnail} WHERE (`id`=#{id});
			
		</update>
	<!--  int delete(int[] ids);-->
		<delete id="delete">
			delete from hg_sku where id in
			<foreach collection="array" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</delete>
	<!--  int deleteSpecOption(int ... id);-->
		<delete id="deleteSpecOption">
			delete from hg_sku_spec where sku_id in
			<foreach collection="array" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</delete>
		
	<resultMap type="sku" id="SkuMap">
		<id column="id" property="id"/>
		<association property="spu" column="spu_id" select="com.bawei.zxshop.dao.SpuDao.findById"></association>
	</resultMap>
	<resultMap type="sku" id="SkuMapDetail" extends="SkuMap">
		<collection property="options" column="id" select="com.bawei.zxshop.dao.SpecDao.listOptionByskuId"></collection>
	</resultMap>
	<!-- 继承即可 要求能够获取规格名称和属性值的名称 -->
	<resultMap type="sku" id="SkuMapDetail2" extends="SkuMap">
		<collection property="options" column="id" select="com.bawei.zxshop.dao.SpecDao.listOptionByskuId2"></collection>
	</resultMap>
	
	<!-- List<Sku> ListBySpuId(int spuId); -->
	<select id="ListBySpuId" resultMap="SkuMapDetail2">
		SELECT * FROM hg_sku WHERE spu_id=#{value}
	</select>
	
	<!-- List<Sku> list(SkuVo skuVo);-->
	<select id="list" resultMap="SkuMap">
		select * from hg_sku
		<where>
			<if test="key!=null and key!=''">
			and (title like concat('%',#{key},'%') or sell_point like concat('%',#{key},'%'))
			</if>
			<if test="minPrice!=null">
			and price &gt;= #{minPrice}
			</if>
			<if test="maxPrice!=null">
			and price &lt;= #{maxPrice}
			</if>
		</where>
		order by id desc
	</select>
 </mapper>